
<div class="ret">
    <h1>League Of Legend</h1>

    <form method="post">
        <input type="text" class="inp" name="id" />
        <input type="submit" class="btn" value="search"/>
    </form>
</div>

