
<a href="./about">랭크순위</a>

<div class="ret">
    <h1>League of Legend</h1>

    <form method="post">
        <input type="text" class="inp" name="id" />
        <input type="submit" class="btn" value="search"/>
    </form>
</div>

    <span class ="ret2">This is League of Legends historical search site. Enter your nickname to learn about the player's tier, rank information, and the player's real-time game progress.</span>


<footer class="footer">
<div class='footer_e'>E-mail : wowns9270@gmail.com</div>
<span div='footer_e'>link :<a href="https://github.com/wowns9270/last_lol">
github</a>
</div>
</footer>


