body {
    background-color:ivory;
    text-align: center;
}

.ret{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.inp{
    width: 200px;
    height: 25px;
    margin-right: 10px;
    font-size: 20px;
}

.btn{
    font-size : 20px;
    color: brown;
}